@import './../../base/variables.scss';

.tabs {
  width: 100%;
  display: flex;
  &__item {
    white-space: nowrap;
    width: 100%;
    color: $text-color-gray;
    background: $bg-color;
    border: solid 1px $border-color;
    padding: 15px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 166.667%;
    transition: all 0.3s ease 0s;
    &.active {
      background: $bg-active-color;
      color: $active-text-color;
    }
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &:hover {
      border: solid 1px $bg-active-color;
      background: $bg-active-color;
      color: $active-text-color;
    }
  }
}
@media (max-width: 475px) {
  .tabs {
    flex-direction: column;
  }
}
