@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import './base/nullstyle.scss';
@import './base/variables.scss';

body {
  font-family: 'Open Sans', sans-serif;
  background: $background-page;
  font-size: 12px;
  font-weight: 400;
}
.app {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 785px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 15px;
  }
  &__logo {
    align-self: center;
    margin: 0 0 50px 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
.logo {
}

@media (max-width: 740px) {
  .app {
    &__container {
      max-width: 500px;
    }
    &__content {
      flex-direction: column;
    }
  }
}
@media (max-width: 500px) {
  .content {
    min-width: 100%;
    width: 100%;
  }
}
