$background-page: #f3f7fa;
$text-color-gray: #4a4a4a;
$text-color: #fff;
$bg-color: #fff;
$bg-color-blue: #2196f3;
$border-color: #dfe5ec;
$active-text-color: #fff;
$bg-active-color: #2196f3;
$price-color: #2196f3;
$title-color: #a0b0b9;
$title-color-dark: #4a4a4a;